/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

/* CONTAINER PRINCIPAL */
.academias {
       background: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.conteudoJogar {
    background-color: rgb(17, 17, 17);
    height: 100%;
    width: 80%;
    border-radius: 15px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoJogo {
    height: 550px;
    /* background-color: green; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

/* TÍTULO */
.titulo-academias {
    margin-bottom: 30px;
}

.conteudo-titulo-academias h1 {
    font-size: 42px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* CONTEÚDO DOS PASSOS */
.conteudo-academias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-academias {
    background-color: #333;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.passo {
    padding: 15px;
    border-left: 4px solid red;
    /* background-color: #444; */
    border-radius: 0 8px 8px 0;
}

.passo h3 {
    color: #ffcc00;
    font-size: 18px;
    margin-bottom: 8px;
}

.passo p {
    color: #ccc;
    font-size: 16px;
}

/* BOTÃO */
.botao-academias button {
    background-color: red;
    color: white;
    border: 3px solid white;
    padding: 18px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.botao-academias button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}