body {
margin: 0;
background-color: blue;

}
.navbar{
    display: flex;
    background-color: white;
    height: 54px;
    width: auto;
    border-bottom: 3px solid red;
    margin-top: 0;
}

.navbar img{
    height: 58px;
    /* height: 88px; */
}

.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: blue;
    
}

.conteudo-geral{
    height: 100%;
  width: 50%;
  margin: auto;
  background-color: rgb(12, 12, 12);
  align-items: center;

}

.conteudo-geral{
     display: flex;
  justify-content: center;
  flex-direction: column;
  
   
}
.contadorForca {
     font-size: 24px;
  padding: 10px 8px;
  align-items: center;
  background-color: green;
  border: 2px solid white;
}

.alvo img,
.alvo2 img, 
.luva img {
  width: 100px;
  margin: 10px;
  cursor: pointer;
}

.barra{
  width: 80%;
  height: 25px;
  background: #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
}

.barraForca {
  height: 100%;
  width: 0%;
  background: #555;
  transition: width 0.3s ease;
}
