body {
    margin: 0;
    background-color: blue;
}

.navbar {
    display: flex;
    background-color: white;
    height: 54px;
    width: auto;
    border-bottom: 3px solid red;
    margin-top: 0;
    margin-bottom: 100px;
}

.navbar img {
    height: 58px;
    /* height: 88px; */
}

.geral {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100%;
    width: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 0, 64);
    height: 100%;
    width: 50%;
    border: 1px  white;
    border-radius: 10px;
    background-color: rgb(221, 179, 179);

}

.contador {
    font-size: 24px;
    padding: 10px 8px;
    align-items: center;
    background-color: green;
    border: 2px solid white;
    height: 100%;
}

.alvo img,
.alvo2 img,
.luva img {
    width: 100px;
    margin: 10px;
    cursor: pointer;
}

.barra {
    width: 88%;
    height: 25px;
    background: #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

.barraForca {
    height: 100%;
    width: 0%;
    background: #555;
    transition: width 0.3s ease;
}