body{
    margin: 0;
}

.navbar{
    display: flex;
    background-color: white;
    height: 54px;
    width: auto;
    border-bottom: 3px solid red;
    margin-top: 0;
}

.navbar img{
    height: 58px;
    /* height: 88px; */
}


.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background-color: rgb(12, 12, 12);
    
    /* background-image: url(assets/imagens/istockphoto-1070557648-612x612.jpg); */
    background-size: cover;
}

.titulo{
    display: flex;
    justify-content: center;
    /* align-self: center; */
}

.titulo h4{
    color: white;
    background-color: black;
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.3em;

}


.boxCadastro{
    display: flex;
    /* padding: 30px 15px; */
    width: 90%;
    height: 78vh;
    /* background-color: rgb(14, 13, 13); */
    flex-direction: row-reverse;
    justify-content: center;
     /* background-color: white; */
    /* border-radius: 6px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 25px, rgba(0, 0, 0, 0.12) 0px 0px 25px, rgba(0, 0, 0, 0.12) 0px 0px 25px, rgba(0, 0, 0, 0.17) 0px 0px 25px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}


.inputsBox1{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    gap: 3px;
    width: 100%;
    height: 74vh;
    margin-left: 30px;  
    align-items: center;
}
.conteudobox{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    width: 100%;
}
.geralInput{
    display: flex;
    background-color: rgb(0, 0, 0);
    /* border: 1px solid rgb(255, 0, 0); */
    border-left: 0;
    border: 2px solid white;
    height: 100%;
    width:60%;
    border-radius: 3px;
    box-shadow: 10px 4px 25px rgba(214, 26, 26, 0.7);
    /* background-color: green; */

    
}

.inputsBox1 input{
    /* height: 80px; */
    padding: 8px;
    width: 65%;
    border-radius: 5px;
    border: 2px solid red;
}

.inputsBox1 span {
    color: white;
    
}

.geral2{
    display: flex;
    background-color: #000000;
    border: 2px solid white;
    border-right: 0;
    height: 100%;
    width:30%;
    border-radius: 3px;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 4px 25px rgba(214, 26, 26, 0.7);
    flex-direction: column;
    /* gap: 4px; */

}

.img-box{
    width: 100%;
}

.img-box video{
    height: 400px;
    border-radius: 6px;
    width: 100%;
}
.txt1{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    height: 40%;
    width: 78%;
    
}
.txt1 a{
    color: white;
    font-size: 2.4em;
    align-self: flex-start;
}

.botao{
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: flex-end;
    /* background-color: purple; */
}

.botao button{
    color: white;
    background-color: red;
    border: 2px solid rgb(2, 2, 2);
    padding: 7px 8px;
    border-radius: 8px;
}